<!--The content below is only a placeholder and can be replaced.-->
<div class="app-container">
  <h2>RESISTER 4 BAND - DEMO</h2>
  <div class="content">
    <div class="app-dropdown" *ngFor="let item of resisterColorItems">
      <app-dropdown [config]="item" (selectedValue)="selectedValue($event)"></app-dropdown>
    </div>

    <div>
      <div class="left">
        <hr>
      </div>
      <div class="middle ">
        <div class="resister">
          <div class="color1" [ngStyle]="{'background': selectedBand1Color.name, 'border-color': selectedBand1Color.name}"></div>
          <div class="color2" [ngStyle]="{'background': selectedBand2Color.name, 'border-color': selectedBand2Color.name}"></div>
          <div class="multiplier" [ngStyle]="{'background': selectedMultiplierColor.name, 'border-color': selectedMultiplierColor.name}"></div>
          <div class="tolerance" [ngStyle]="{'background': selectedToleranceColor.name, 'border-color': selectedToleranceColor.name}"></div>
        </div>
      </div>
      <div class="right">
        <hr>
      </div>
      <div class="result" *ngIf="showResults">Resistor Value: {{resisterVal}} Ohms {{this.selectedToleranceColor.id}}</div>
    </div>
    <button class="btn" [disabled]="!isSelectedAllColor" (click)="submit()">Submit</button>
  </div>
</div>